<main>
  <button (click)="toggleLista()">
    {{ mostrarLista ? 'Ocultar' : 'Visualizar' }}
  </button>
  <div *ngIf="mostrarLista">
    <ul>
      <li
        *ngFor="let aluno of alunos"
        [ngClass]="aluno.ativo ? 'ativo' : 'inativo'"
        [ngStyle]="{ 'font-size.px': fontSize }"
      >
        {{ aluno.id }} - {{ aluno.nome }} - {{ aluno.ativo ? 'Ativo' : 'Desativo' }}
      </li>
    </ul>
    <button (click)="aumentarFonte()">+</button>
    <button (click)="diminuirFonte()">-</button>
  </div>
</main>
